<!-- Footer Start -->
<footer class="footer absolute bottom-0 right-0 left-0 border-t border-gray-50 py-5 px-5 bg-white dark:bg-zinc-700 dark:border-zinc-600 text-gray-500 dark:text-gray-500">
    <div class="grid grid-cols-2">
        <div class="">
            &copy;
            <script>
                document.write(new Date().getFullYear());
            </script> Red Hat
        </div>
        <div class="text-gray-500 md:inline-block dark:text-gray-100 relative text-end">Crafted with <i class="mdi mdi-heart text-red-400"></i> by Team eXe</div>
    </div>
</footer>
<!-- end Footer -->