<% let title = "Archive" %>

<%= partial("partials/page-title.html", {pagetitle: "Requests", title: title}) %>

<div class="grid xl:grid-cols-12 md:grid-cols-12 grid-cols-12 gap-6">
  <div class="card col-span-12">
    <div class="card-body relative overflow-x-auto">
      <table id="archive-requests-table" class="table w-full pt-4 text-gray-700 dark:text-zinc-100">
        <thead>
        <tr class="text-left">
          <th class="p-4 pr-8 border rtl:border-l-0 border-y-2 border-gray-50 dark:border-zinc-600">Cluster Name</th>
          <th class="p-4 pr-8 border border-y-2 border-gray-50 dark:border-zinc-600 border-l-0">Company</th>
          <th class="p-4 pr-8 border border-y-2 border-gray-50 dark:border-zinc-600 border-l-0">Created</th>
        </tr>
        </thead>
        <tbody>
        <%= for (lab) in labs { %>
        <tr>
          <td class="p-4 pr-8 border rtl:border-l-0 border-t-0 border-gray-50 dark:border-zinc-600"><a class="underline" href="/labs/<%= lab.ID %>"><%= lab.GeneratedName %></a></td>
          <td class="p-4 pr-8 border border-t-0 border-l-0 border-gray-50 dark:border-zinc-600"><%= lab.CompanyName %></td>
          <td class="p-4 pr-8 border border-t-0 border-l-0 border-gray-50 dark:border-zinc-600"><%= extdate(lab.CreatedAt) %></td>
        </tr>
        <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>